# http://editorconfig.org

root = true

[*]
# 字符集: utf-8
charset = utf-8
# 缩进风格: 空格
indent_style = space
# 缩进大小: 2
indent_size = 2
# 换行符: lf
end_of_line = lf
# 是否在文件的最后插入一个空行
insert_final_newline = true
# 是否删除行尾的空格
trim_trailing_whitespace = true
