.wide {
  ol {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);

    li {
      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

ol {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  max-width: 880px;

  li {
    position: relative;
    padding: 0 12px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    list-style: none;
    border-bottom: 1px solid #d5d5d5;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: 1px solid #d5d5d5;
    }

    &.delete {
      color: #d40000;
      cursor: pointer;
      justify-content: center;
    }
  }
}

.page-content {
  background-color: #eee;
}

.header {
  color: #666666;
  font-size: 14px;
  height: 40px;
  margin: 0 auto;
  padding: 0 12px;
  line-height: 45px;
  max-width: 880px;
  box-sizing: border-box;
  cursor: default;

  &:first-child {
    margin-top: 0;
  }
}

.pointer {
  cursor: pointer;
}

.right {
  margin-right: 8px;
  font-size: 15px;
}

.pf-toggle {
  overflow: hidden;

  label {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 2px;
    width: 50px;
    height: 22px;
    margin-top: -13px;
    border-radius: 60px;

    &::before {
      display: block;
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: 1px;
      content: '';
      right: 1px;
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      border-radius: 32px;
      transition: background 0.2s;
    }

    &::after {
      display: block;
      position: absolute;
      top: -1px;
      bottom: 1px;
      left: 0px;
      content: '';
      width: 26px;
      height: 26px;
      background: #fff;
      border-radius: 100%;
      border: 1px solid #ccc;
      transition: left 0.2s;
    }
  }

  input[type='checkbox'] {
    margin: -9999px;
    visibility: hidden;
  }
  input[type='checkbox']:checked + label {
    &:before {
      background: #1f9aff;
    }

    &:after {
      left: 30px;
    }
  }
}
